@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .NavBarLi{
        @apply hover:underline hover:text-blue-600 duration-200
    }

    .Flist{
      @apply hover:text-blue-600 duration-200
    }
    .typewriter {
        overflow: hidden; 
        border-right: 0.15em solid; 
        white-space: nowrap; 
        margin: 0 auto; 
        letter-spacing: 0.10em; 
        animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
      }
      
      @keyframes typing {
        from { width: 0; }
        to { width: 100%; }
      }
      
      @keyframes blink-caret {
        from, to { border-color: transparent; }
        50% { border-color: black; }
      }

      @keyframes slide-in {
        from {
          transform: translateY(10px);
          opacity: 0;
        }
        to {
          transform: translateY(0);
          opacity: 1;
        }
      }
      
      @keyframes slide-out {
        from {
          transform: translateY(0);
          opacity: 1;
        }
        to {
          transform: translateY(-10px);
          opacity: 0;
        }
      }
      
      .slide-enter {
        animation: slide-in 300ms ease-in;
      }
      
      .slide-exit {
        animation: slide-out 300ms ease-in;
      }
      
     
}

